- if @arrange_mode
  = render 'arrange/navbar'

- current_user.columns.each do |column|
  .column
    %ul.unstyled
      %li.category-header
        %h2= column.title
      - column.shortcuts.each do |shortcut|
        %li.shortcut{ class: "#{shortcut.color} #{@arrange_mode ? '' : shortcut.sublinks_panel}" }
          .headline
            %a{ href: shortcut.url }
              - if shortcut.favicon
                %img{ src: shortcut.favicon, height: 16, width: 16 }
              = shortcut.headline
            - if !@arrange_mode && shortcut.sublinks_panel == :toggle
              .pull-right
                .toggle-buttons
                  %a{ href: '#' }
                    %i.icon-chevron-down
                  %a.hide{ href: '#' }
                    %i.icon-chevron-up
            - if @arrange_mode
              .pull-right
                .arrange-buttons
                  %a.move{ href: '#' }
                    %i.icon-move
                  = link_to edit_shortcut_path(shortcut), class: :edit  do
                    %i.icon-pencil
                  = link_to shortcut_path(shortcut), method: :delete, class: :remove  do
                    %i.icon-remove
