!!!
%html
  %head
    %title Columns
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{ class: controller.class.name.sub('Controller','').downcase }
    - if user_signed_in?
      .big-brand-name{ class: controller.class.name.sub('Controller','').downcase }
        = controller.class.name.sub('Controller','')

    = yield

    - if user_signed_in?
      = render 'layouts/navbar-bottom'