!!!
%html
  %head
    %title Shortcuts
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .big-brand-name
      Shortcuts

    = yield

    = render 'layouts/navbar-bottom'